RewriteEngine On

RewriteRule home home.php
RewriteRule services services.php
RewriteRule about about.php
RewriteRule contact contact.php
RewriteRule blog blog.php
RewriteRule legal legal.php
RewriteRule sendContactForm sendContactForm.php

<Files "header.php">
    Order Allow,Deny
    Deny from all
</Files>

<Files "footer.php">
    Order Allow,Deny
    Deny from all
</Files>
