RewriteEngine On

RewriteRule about about.php
RewriteRule portfolio portfolio.php
RewriteRule contact contact.php
RewriteRule legal legal.php
RewriteRule sendContactForm sendContactForm.php

<Files "header.php">
    Order Allow,Deny
    Deny from all
</Files>

<Files "footer.php">
    Order Allow,Deny
    Deny from all
</Files>
